<style>
    {{asset "shippers-styles.css"}}
</style>

<div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
        <tr class="top">
            <td colspan="2">
                <table>
                    <tr>
                        <td class="title">
                            Report Shippers
                        </td>
                        <td>
                            <br> Date: {{now}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="information ">
            {{!-- <td colspan="2 ">
                <table>
                    <tr>
                        <td>
                            {{seller.name}}<br>
                            {{seller.road}}<br>
                            {{seller.country}}
                        </td>
                        <td>
                            {{buyer.name}}<br>
                            {{buyer.road}}<br>
                            {{buyer.country}}
                        </td>
                    </tr>
                </table>
            </td> --}}
        </tr>
        <tr class="heading ">
            <td>
                Company Name
            </td>
            <td>
                Phone
                {{data.CompanyName}}
            </td>
        </tr>
        {{#each data}}
            {{#each this}}
            <tr class="item">
                <td>
                    {{CompanyName}}
                </td>
                <td>
                    {{Phone}}
                </td>
            </tr>
            {{/each}}
        {{/each}}
        {{!-- <tr class="total ">
            <td></td>
            <td>
                Total: $ {{total items}}
            </td>
        </tr> --}}
    </table>
</div>
